@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSansSemibold.eot');
  src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
  url('../fonts/OpenSansSemibold.woff2') format('woff2'),
  url('../fonts/OpenSansSemibold.woff') format('woff'),
  url('../fonts/OpenSansSemibold.ttf') format('truetype'),
  url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

/************************

**********************************/
header {
  .container-fluid {
    background: linear-gradient(to bottom, #193F63, #10395F);
    .container {
      padding-top: 15px;
      margin-bottom: 20px;

      li {
border-right: solid  1px #FFFFFF;

        &:nth-child(3) {
          border-right: none;
        }

        a {
          color: white;
          padding-top: 0;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 0;
          margin-top: 0px;
          margin-bottom: 0px;

        }
      }
      .social_icon {
        color: white;
        a {
          padding-left: 7px;
          padding-right: 7px;

          i {
            color: white;

          }
        }

      }
    }
  }

}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: transparent;

}
.navbar-nav>li>.dropdown-menu li a{
  color: black;
}

.navbar-header {
  padding-right: 60px;
}

.navbar-default .navbar-nav li a {
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: -0.2px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.navbar-default .navbar-nav li .but {
  font-family: 'OpenSansSemibold';
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.2px;
  background: #01BC7E;
  border-radius: 2px;
  padding: 7px 13px 8px 13px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.navbar-default .navbar-nav li .but i {
  margin-left: 6px;
  color: #A0E7D0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: 12px;

}

.navbar-default {
  background: #FFFFFF;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.06), 0 0 22px 0 rgba(0, 0, 0, 0.05);
}

.navbar-default .navbar-nav li .box {
  padding-right: 0;
}

.navbar-default .navbar-nav li .drop {
  padding-left: 6px;
}